<h1 xlass='text-center'>Sign In</h1>
<div class='container'>
  <%= bootstrap_form_for :session, url: session_path do |f| %>
    <div>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.password_field :password %>
    </div>

    <%= f.submit 'Sign In' %>
  <% end %>
</div>
