<% @ideas.each do |idea| %>
  <div class='container'>
    <i class="fa fa-plus foldable"><a href="<%= idea_path(idea) %>"  class="font link-text"><span><strong>  <%= idea.title %></strong></span></a>
      <div class="fold hidden">
          <div class="font ml-3">
            <br>
            <p><%= idea.description %></p>
            <p><strong>By: <%= idea.user.full_name %></strong></p>
          </div>
        </div>
      </i>
  </div>
<% end %>
