/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 */

 @import "bootstrap";
 @import "font-awesome";



nav {
  background-color: #008B8B;
}

nav > a {
    color: #f2f2f2;
    padding: 8px;
}

#fullname {
  color: black;
  font-size: 20px;
  font-style: italic;
}

.hidden {
    display: none;
}

.foldable {
    min-height: 50px;
}


.link-text {
    text-decoration: none;
    color: blue;
    font-family: Verdana
}

.link-text:hover {
    text-decoration: none;
    color: black;
}

.fold {
    width: 100%;
}
